[Unit]
Description=DFPlayer Touch GUI (direct framebuffer)
After=multi-user.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/pi-tft-dfplayer
ExecStart=/usr/bin/python3 src/dfplayer_fb_gui.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
